HF_TOKEN=your_huggingface_token_here
HF_MODEL=meta-llama/Llama-3.1-8B-Instruct
STARTUP_SCRAPE_URLS=https://rbunagpur.in/overview,https://rbunagpur.in/admission-process/,https://rbunagpur.in/eligibility-criteria/,https://rbunagpur.in/program-list-2026-2027/,https://rbunagpur.in/fees-structure-26-27/,https://rbunagpur.in/direct-second-year-admissions/,https://rbunagpur.in/placement-report/,https://rbunagpur.in/recruiters/,https://rbunagpur.in/hostel-facilities/
